		<form name="footerform">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr><td>
				<table width="157" cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td class="pntop"><img src="./images/spacer.png" width="1" height="23"></td>
						<td rowspan="2"><img src="./images/footer_sep.png" width="44" height="74"></td>
					</tr>
					<tr>
						<td width="113"><img src="./images/footer_pn_left.png" width="18" height="51"><a href="javascript:parent.main.previousPage();"><img src="./images/footer_pn_prev.png" width="39" height="51" border="0"></a><img src="./images/footer_pn_sep.png" width="17" height="51" border="0"><a href="javascript:parent.main.nextPage();"><img src="./images/footer_pn_next.png" width="39" height="51" border="0"></a></td>
					</tr>
				</table>
			</td><td width="100%" class="footer_mid">
				<table width="100%" cellspacing="0" cellpadding="0" border="0" align="right">
					<tr>
						<td class="navtop"><img src="./images/spacer.png" width="1" height="33"></td>
					</tr>
					<tr>
						<td class="navmid"><img src="./images/spacer.png" width="1" height="41"></td>
					</tr>
				</table>
			</td><td>
				<table width="450" cellspacing="0" cellpadding="0" border="0" align="right">
					<tr>
						<td class="navtop" colspan="5"><img src="./images/spacer.png" width="1" height="33"></td>
					</tr>
					<tr>
						<td class="mainnav" width="100%"><a href="javascript:parent.gotopage();"><img src="./images/nav_main_jump.png" width="22" height="41" border="0"></a></td>
						<td class="mainnavjump"><input name="jumpbox" type="text" size="6" maxlength="7" value="<%=main.chapter.num%>.<%=main.section.num%>.<%=main.topic.num%>.<%=main.page.num%>"></td>
						<td class="mainnav"><img src="./images/spacer.gif" width="10" height="41"><img src="./images/nav_main_sep.png" width="8" height="41"></td>
						<td class="mainnav">
							<table cellspacing="0" cellpadding="0" border="0">
								<tr>
									<td>&nbsp;</td>
									<td><img src="./images/toggle_left.png" border="0"></td>
									<td class="mainnav_toggle"><a href="javascript:parent.main.toggle();" class="togglelang"><%= main.theme.getThemeItem("togglelanguage") %></a></td>
									<td><img src="./images/toggle_right.png" border="0"></td>
									<td>&nbsp;</td>
								<tr>
							</table>
						</td>
						<td class="mainnav"><img src="./images/nav_main_sep.png" width="8" height="41"><a href="javascript:parent.popup('pglobaltools');"><img src="./images/nav_main_tools.png" width="52" height="41" border="0"></a><img src="./images/nav_main_sep.png" width="8" height="41"><a href="javascript:parent.popup('pglossary');"><img src="./images/nav_main_glossary.png" width="52" height="41" border="0"></a><img src="./images/nav_main_sep.png" width="8" height="41"><a href="javascript:parent.popup('psearch');"><img src="./images/nav_main_search.png" width="52" height="41" border="0"></a><img src="./images/nav_main_sep.png" width="8" height="41"><a href="javascript:parent.popup('pindex');"><img src="./images/nav_main_index.png" width="52" height="41" border="0"></a><img src="./images/nav_main_bg.png" width="4" height="41"></td>
					</tr>
				</table>
			</td></tr><tr><td width="100%" colspan="3">
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td class="copyright"><%= main.theme.getThemeItem("copyright") %></td>
					</tr>
				</table>
			</td></tr>
		</table>
		</form>

