		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="15" class="headerlogo"><img src="./images/header_left.png" width="15" height="91"></td>
				<td width="87" class="headerlogo"><img src="./images/logo.png" width="87" height="91"></td>
				<td class="headerleft"><table align="right"><tr><td class="headerlefttext"><%= main.course.title %></td></tr><td class="headerlefttext"><%= main.course.subtitle %></td></tr></table></td>
				<td class="headermid"><img src="./images/header_sep.png" width="22" height="91"></td>
				<td class="headerright"><table align="right"><tr><td class="headerrighttop"><%= main.chapter.title %> <%=main.chapter.num%></td></tr><tr><td class="headerrighttop"><%= main.section.title %> <%=main.chapter.num%>.<%=main.section.num%></td></tr><tr><td class="headerrightbot"><%= main.topic.title %> <%=main.chapter.num%>.<%=main.section.num%>.<%=main.topic.num%></td></tr></table></td>
			</tr>
		</table>

